<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>NavigationApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>41983FE01E1E9A7F00958771</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>41983FF41E1E9A7F00958771</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>41983FFF1E1E9A7F00958771</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
